<h2> MENU DETAILS PAGES</h2>

<%= @menu.name %>
<br/><br/>
<table border="1">
 <tr>
  <th> Dish Id</th>
  <th> Dish Name</th>
  <th> Price</th>
  <th> EDIT</th>
  <th> Destroy</th>
 </tr>
 <% @menu.dish.each do |dish|%>
  <tr>
   <td> <%= dish.id %> </td>
   <td> <%= dish.name %> </td>
   <td> 1000 </td>
   <td> <%= link_to "Update", [:edit, dish.menu, dish] %> </td>
   <td> <%= link_to "Delete", [dish.menu, dish], method: :delete, data: {confirm: "Are you sure?"} %> </td>
  </tr>
 <%end%>
</table>

<%= link_to "Create A New Dish", my_custom_path(id: @menu)%>


