<!DOCTYPE html>
<html>
  <head>
    <title>ResturantApp-Admin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <h3 style="color:orange;text-align:right;"> ADMIN </h3>
    <%= yield %>
  </body>
</html>
